[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
sqlalchemy = "*"
databases = "*"
sqlalchemy-utils = "*"
aiosqlite = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.10"
