[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
sqlalchemy = "*"
databases = "*"
sqlalchemy-utils = "*"
aiosqlite = "*"
alembic = "*"
python-multipart = "*"
passlib = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi-utils = "*"
fastapi-mail = "*"
itsdangerous = "*"
authlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
